<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявка {{ .application.ID }}</title>
    <link rel="stylesheet" href="/static/styles/methane_style.css">
</head>
<body>  
<header class="full-width-header">
    <div class="header-title">Просмотр заявки</div>
</header>

<div class="tools-panel">
    <div class="home-link">
        <a href="/hello" class="calculate-btn" style="text-decoration: none;">Домой</a>
    </div>
</div>

<main>
    <div class="application-header">
        <div class="application-info">
            <div class="info-row">
                <span class="info-label">Номер заявки:</span>
                <span class="info-value">{{ .application.ID }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Модератор:</span>
                <span class="info-value">{{ .application.Customer }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Описание:</span>
                <span class="info-value">{{ .application.Description }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Температура:</span>
                <span class="info-value">{{ .application.Temperature }} °C</span>
            </div>
        </div>

        <!-- Поле результата вычислений -->
        <div class="result-block">
            <span class="result-label">Результат расчета:</span>
            <span class="result-value">{{ .application.Result }}</span>
        </div>
    </div>

    <!-- Список услуг в заявке -->
    <h2 class="services-title">Услуги в заявке</h2>
    <div class="services-list">
        {{ range .application.Items }}
        <div class="service-item">
            <div class="service-card">
                <div class="service-fields">
                    <img src="{{ .Image }}" alt="{{ .Title }}" class="service-image" width="50" height="50">
                    <span class="service-title">{{ .Title }}</span>
                    <span class="service-formula">{{ .Formula }}</span>
                    <span class="service-molar">М: {{ .MolarMass }} г/моль</span>
                </div>
                <input type="hidden" name="item_id" value="{{ .ID }}">
                <div class="mm-field">
                    <label>Кол-во:</label>
                    <input type="number" name="quantity" value="{{ .Quantity }}" min="1" class="mm-input">
                </div>
                <div class="mm-field">
                    <label>Комментарий:</label>
                    <input type="text" name="comment" value="{{ .Comment }}" placeholder="..." class="mm-input">
                </div>
            </div>
            {{ else }}
            <div class="empty-cart">
                <p>В заявке нет услуг</p>
            </div>
            {{ end }}
        </div>
    </div>
</main>
</body>
</html>