<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Эксперимент {{ .methane.ID }}</title>
    <link rel="stylesheet" href="/styles/methane_style.css">
</head>
<body>
<header>
    <div class="title-container">
        <span class="calculator-title">Просмотр эксперимента</span>
    </div>
    <div class="home-link">
        <a href="/reagents" class="calculate-btn" style="text-decoration: none;">Домой</a>
    </div>
</header>

<main>
    <div class="application-header">
        <div class="application-info">
            <div class="info-row">
                <span class="info-label">Номер эксперимента:</span>
                <span class="info-value">{{ .methane.ID }}</span>
            </div>
        </div>
        <div class="result-block">
            <span class="result-label">Выход метана:</span>
            <span class="result-value">{{ .methane_yield }}%</span>
        </div>
    </div>

    <h2 class="services-title">Реагенты в эксперименте</h2>

    {{ if .items }}
    <div class="table-header-card">
        <div class="table-header-row">
            <div class="header-cell header-image">Изображение</div>
            <div class="header-cell header-name">Название</div>
            <div class="header-cell header-formula">Формула</div>
            <div class="header-cell header-molar">Молярная масса</div>
            <div class="header-cell header-quantity">Количество</div>
        </div>
    </div>

    <div class="table-body">
        {{ range .items }}
        <div class="table-data-row">
            <div class="data-cell cell-image">
                <img src="{{ .Reagent.Img }}" alt="{{ .Reagent.Name }}" class="reagent-image" width="50" height="50">
            </div>
            <div class="data-cell cell-name">
                <span class="reagent-name">{{ .Reagent.Name }}</span>
            </div>
            <div class="data-cell cell-formula">
                <span class="reagent-formula">{{ .Reagent.Formula }}</span>
            </div>
            <div class="data-cell cell-molar">
                <span class="reagent-molar">{{ .Reagent.MolarMass }} г/моль</span>
            </div>
            <div class="data-cell cell-quantity">
                <span class="reagent-quantity">{{ .Quantity }} г</span>
            </div>
        </div>
        {{ end }}
    </div>
    {{ else }}
    <div class="empty-cart">
        <p>Нет реагентов</p>
    </div>
    {{ end }}

    <div class="application-actions">
        <form action="/delete-methane" method="POST" style="display: inline; margin-right: 10px;">
            <input type="hidden" name="methane_id" value="{{ .methane.ID }}">
            <button type="submit" class="clear-app-btn">Удалить Метан</button>
        </form>
    </div>
</main>
</body>
</html>