<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор синтеза метана (Реакция Сабатье)</title>
    <link rel="stylesheet" href="/static/styles/reagent_style.css">
</head>
<body>
<header>
    <div class="title-container">
        <span class="calculator-title">Калькулятор синтеза метана (Реакция Сабатье)</span>
    </div>
    <div class="home-link">
        <a href="/hello" class="calculate-btn" style="text-decoration: none;">Домой</a>
    </div>
</header>

<main class="reagent-main">
    <div class="product-card">
        <div class="product-container">
            <div class="wibes-video-wrapper">
                <video
                        class="wibes-video"
                        autoplay
                        muted
                        loop
                        playsinline
                >
                    <source src="{{ .reagent.Video }}" type="video/mp4">
                </video>

                <div class="video-description">                    
                    <div class="wibes-desc">{{ .reagent.Description }}</div>
                    <div class="wibes-desc">Молярная масса: {{ .reagent.MolarMass}} г/моль</div>
                    <div class="wibes-desc">Доступно: {{ .reagent.Available}} м3</div>
                    <div class="wibes-desc">Температура кипения: {{ .reagent.BoilingPoint }} °C</div>
                    <div class="wibes-desc">Плотность: {{ .reagent.Density }} кг/м3</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
