<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Реагенты - Синтез метана</title>
    <link rel="stylesheet" href="/styles/index_style.css">
</head>
<body>
<header>
    <div class="title-container">
        <span class="calculator-title">Калькулятор синтеза метана (Реакция Сабатье)</span>
    </div>
    <div class="cart-link">
        <a href="/experiment" class="calculate-btn" style="text-decoration: none;">
            Текущий эксперимент
            {{ if ne .cart_count 0 }}
            <span style="background: red; color: white; border-radius: 50%; padding: 2px 8px; margin-left: 5px;">{{ .cart_count }}</span>
            {{ end }}
        </a>
    </div>
</header>

<div class="search-container">
    <form action="/reagents" method="GET" class="search-form">
        <input
                type="text"
                name="search"
                placeholder="Поиск по названию..."
                value="{{ .search }}"
                class="search-input"
        >
        <button type="submit" class="search-button">Найти</button>
        {{ if .search }}
        <a href="/reagents" class="clear-search"></a>
        {{ end }}
    </form>
</div>

<div class="product-section">
    {{ range .data }}
    <div class="product-card" onclick="window.location.href='/reagents/{{ .ID }}'" style="cursor: pointer;">
        <div class="product-title-container">
            <div class="product-name">{{ .Name }}</div>
        </div>

        <div class="product-container">
            <div class="product-formula">{{ .Formula }}</div>
            <h1>
                <img src="{{ .Img }}" alt="{{ .Name }}" width="150px" height="150px">
            </h1>
            <form action="/add-to-experiment" method="POST" style="display: inline;">
                <input type="hidden" name="reagent_id" value="{{ .ID }}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="add-to-cart">В корзину</button>
            </form>
        </div>
    </div>
    {{ end }}
</div>
</body>
</html>